html, body{
    height: 100%;
    margin: 0%;
    
}

.image{
    margin: 10px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-container{
    display: flex;
    height: 250px;
    align-items: center;
}

.divcenter1{
    margin-right: 50px;
    display: grid;
    place-items: center;
}

.divcenter2{
    margin-left: 50px;
    display: grid;
    place-items: center;
}

.score{
    display:flex;
    flex-direction: row; 
}

.scor1{
    margin-left: 10px;
    margin-right: 20px;
}

.scor2{

    margin-right: 20px;
}


.custom-button{
    height: 30px;
    width: 100px;
    background-color: green;
    color: wheat;
    border-radius: 7px;
    
}

.restart-button{
    height: 30px;
    width: 100px;
    background-color:aqua;
    color: black;
    border-radius: 7px;
    
}

.announce{
    color: red;
}

.restart-button:hover{
    background-color: goldenrod;
    color: black;
}

.custom-button:hover{
    background-color: goldenrod;
    color: black;
}
